@media screen and (max-width:769px) {
    /* global css starts here */
    h1{
        /* font-size: 30px; */
        text-align: center !important;
    }
    .container{
        width: 100%;
    }
    .row{
        padding: 30px 15px;
    }
    /* global css ends here */
    header .row{
        padding: 5px 15px ;
    }
    
    header .imgBox{

        width:25% ;
    }

    header img {
        width: 100%;
    }
    header{
        position: relative;
    }
    header .navbar{
        background-color: var(--secondary-color);
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateX(100%);
        transition: all ease-in-out 600ms;
    }
    header .navbar ul{
        flex-direction: column;
 
        width: 100%;
        /* background-color: green; */
        /* height: 100vh; */
    }
    header .navbar ul li{
        margin: 10px;
    }

    header #hamburgerMenu{
        display: block !important;
        
    }

    .topBarRotate{
        transition: all ease-in-out 600ms;
        transform: rotate(-45deg) !important;
        background-color: pink;

    }
    .middleBarHide{
        display: none !important;
    }

    .bottomBarRotate{
        transition: all  ease-in-out 600ms;
        transform: rotate(45deg) !important;
        background-color: pink;

    }
    .active{
        transform: translateX(0) !important;
        
    }
    .sticky{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    /* hero starts here  */
    .hero .row{
        flex-direction: column-reverse;

    }   
    .hero .column{
        width: 100%;

    }
    /* hero starts here  */
}

@media screen and (max-width:550px){
  /* global css starts here */
    h1{
        font-size: 30px;
        text-align: center !important;
    }
    /* global css ends here */
}